.navbar-wrap-semantic{
	#menu{
		padding: 20px;
		border-bottom: 1px solid rgba(0,0,0,0.2);
		position: fixed;
		width:100%;
		z-index: 10;
		background-color: white;
		box-shadow: 0 0 10px rgba(0,0,0,0.1);
	}
}