.App {
  text-align: center;
}

.filter_wrap{
  height: 700px;
  border: 1px solid rgb(200,200,200);
  overflow: hidden;

}
.NumberTitle{
  font-size: 30px;
  font-family: "DIN Condensed";
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px;
  margin: auto;
  clear: both;
}
.current_event{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 20;
  top: 0;
  background-color: white;
}
.restaurants_div{
  width: 100%;
  height:720px;
 
  padding: 20px;
  padding-top: 0;
}
#location_icon{
  background-image: url("http://cdn.onlinewebfonts.com/svg/img_292413.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(100%);
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.filter_content{
  height:auto;
  
}
#joining_event_card{
  width: 400px;
  height: auto;
  min-height: 150px;
  background-color: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%,-50%);
  font-size: 18px;
  text-align: center;
  font-family: "Futura";
  padding-top: 20px;
  text-transform: uppercase;

  color: rgb(140,140,140);
 background-color: white;
  border: 3px solid white;

  font-weight: bold;
  }
.confirming_buttons{
  display: grid;
  color: white;
  grid-gap: 0px;

  grid-template-columns: 1fr 1fr;
  height: 55px;
  margin-top: 15px;
  border-top: 3px solid white;
  grid-gap: 3px;
  background-color: white;
  position: absolute;
  width: 100%;
  bottom: 0;

}
.confirming_buttons>div{

 font-family: "Futura";
 font-size: 16px;
  padding-top: 16px;
  border-radius: 5px;
}

  .cb_join{
  background-color: rgb(0,200,225);
  }
    .cb_cancel{
  background-color: rgb(220,45,0);
  }


  .cb_join:hover{
background-color: rgb(0,210,225);
  }
    .cb_cancel:hover{
  background-color: rgb(250,65,0);

    }
.my_info_banner{
  position: fixed;
  top: 75px;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  color: white;

  background-color: rgb(100,195,100);
  font-weight: bold;
  font-family: "Avenir";
  font-size: 16px;

    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 10;
  text-align: center;
}
.view-wrap{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  padding: 10px;
  grid-gap: 2px;
  padding-top: 140px;


}
.view_wrapb{

  padding: 10px;
  grid-gap: 20px;
  padding-top: 140px;


}
.view_events_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.restaurants_div{

}
.restaurants_div>ul{
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
  height: 650px;
  border: 1px solid rgb(200,200,200);
   overflow: scroll;
   padding-top: 0px;
   background-color: black;
   border: 6px solid black;
}
.restaurants_div > ul>li{
  padding: 0;
margin: 0;

padding: 0px;
border-radius: 0px;

  background-color: rgb(100,195,100);
min-height: 125px;
color: white;


padding: 10px;
font-size: 20px;
padding-bottom: 30px;
position: relative;
border-bottom: 4px solid black;


}
.restaurants_div > ul>li:hover{
   background-color: rgb(50,135,50);
}
.content_overlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
}
.img{
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 5px;
border: 2px solid white;
border-radius: 5px;
  background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.restaurants_div > ul>li>p{

font-family: "Futura";
padding: 0;
text-align: left;
margin: 0;
}

.restaurants_div > ul>li>p>span{
  font-size: 8px;
  padding: 0;
  margin: 0;
  text-align: left;

  }
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 900px){
.view-wrap{

  grid-template-columns: 1fr;
 
}
.view_wrapb{

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;


}
.filter_content{
  
  position: static;
  width: 100%;
}
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
